.jumbotron {
    background-color: rgb(10, 221, 175);
    color: black;
    padding: 50px 50px 50px;
    background-image: url("/img/header2.jpg");
    background-size: cover;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
}

header {
    margin-bottom: 50px;

}

footer {
    background-color: rgb(97, 204, 168);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 10px 10px 10px;
    text-align: center;
}

.btn {
    background-color: rgb(41, 110, 87);
    color: white;
}

.card-sucu {
    flex: 1 150px;
    padding: 5px;
}

.btn-comprar {
    width: 100%;

}

img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.container {
    align-items: center;
    justify-content: center;
    text-align: center;
}