$yellow: #e0d71d;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    padding: 50px 50px 50px;
    width: 100%;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    @include margenes(50px, 10px );

}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
  
}

header {
    margin-bottom: 50px;

}

footer {
    @include margenes(10px, 0px );
    background-color: $yellow;
    ;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 5px 10px 10px;
    text-align: left;
    font-size: small;
}

.footer-info{

    color: black

}


.card-sucu {
    flex: 1 150px;
    padding: 5px;
    @include margenes(50px, 10px );
}

.btn-comprar {
    width: 100%;
    margin-top: 10px;
}

img {
    float: left;
    width: 100px;
    height: 300px;
    object-fit: cover;
}


h4, h3 {
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 0.5;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler {
    margin-right: 10px;
}

ul.navbar-nav {
    margin-left: 20px;
}

form div {
    margin-bottom: 5px;
}

#form-button {
    margin-bottom: 10px;
}

.thead-dark {
    color: white;
    background-color: black;
}

#myPriceTabContent {
    padding-top: 100px;
}

#modalButton {
    margin: 20px 0px 20px;
    width: 50%;
}

.collapse-buttons {
    position: relative;
    width: 100%;
}

#nosotros {
    position: relative;
    align-items: center;
}

#carouselControls {
    padding-bottom: 20px;
}