

.jumbotron {
    background-color: rgba(196, 196, 17, 0.774);
    padding: 50px 50px 50px;
    width: 100%;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;

}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
  
}

header {
    margin-bottom: 50px;

}

footer {
    background-color: rgba(196, 196, 17, 0.774);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 5px 10px 10px;
    text-align: left;
    font-size: small;
}

.footer-info{

    color: black

}


.card-sucu {
    flex: 1 150px;
    padding: 5px;
}

.btn-comprar {
    width: 100%;
    background-color: rgba(114, 201, 42, 0.884);
    color: white;
    margin-top: 10px;
}

img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}


h4, h3 {
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 0.5;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler {
    margin-right: 10px;
}

ul.navbar-nav {
    margin-left: 20px;
}

form div {
    margin-bottom: 5px;
}

#form-button {
    margin-bottom: 10px;
}

.thead-dark {
    color: white;
    background-color: black;
}

#myCardTabContent {
    position: relative;
    bottom: 200px;
    padding-top: 10px;
}

#myCommentTabContent {
    position: absolute;
    bottom: 220px;
}