.jumbotron {
    background-color: rgb(10, 221, 175);
    color: black;
    padding: 30px 30px 30px;
}

footer {
    padding: 10px 10px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 221, 175);
    margin-top: 10px;

}

.btn {
    background-color: rgb(41, 110, 87);
    color: black;
}

.card-sucu {
    flex: 1 150px;
    padding: 5px;
}

.btn-comprar {
    width: 100%;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

